<html>
<head>

        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css " />
</head>

<body>
    {% block content %}
      
    {% endblock  %}
</body>
</html>