{% block content %}
<ul>
	<li>username :  <b>{{ current_user.user.username }}</b></li>
	<li>nom et prenom :<b> {{ current_user.nom_prenom }} </b></li>
	
  </ul>
 <a href="{% url 'logout' %}"><button >Logout</button> </a>
{% endblock content %}