{% extends 'base.html' %}
{% block content %}

<form  method="post" action="{% url 'login' %}" class="login">
    <h1 class="login-title"> Login</h1>

    {% csrf_token %}
    {{ form.as_p }}
 
    <input type="submit" value="Lets Go" class="login-button">

  </form>

    

{% endblock content %}