{% extends 'base.html' %}
{% block content %}

<form  method="post" action="{% url 'register' %}" class="login">
    <h1 class="login-title">Register</h1>
    {{ errors }}
    {% if form.subject.errors %}
          <ol>
      {% for error in form.subject.errors %}
      <p style="color: red;">
        Please correct the error{{ form.errors|pluralize }} below.
    </p>
      {% endfor %}
          </ol>
    {% endif %}
    {% csrf_token %}
    {{ form.as_p }}
 
    <input type="submit" value="Lets Go" class="login-button">

  </form>

    

{% endblock content %}