{% load el_pagination_tags %}
{% load markdown_deux_tags %}

{% if comments %}
	{% paginate comments %}
	<div style="margin: 40px;">
	{% for comment in comments %}
		<div class="comment-post">
			<article itemscope itemtype="http://schema.org/Comment" itemprop="comment">
				<header>
					<span itemprop="creator">{{ comment.user_name }}</span>
					<time itemprop="dateCreated" datetime="{{ comment.post_date|date:'Y-m-d H:i:s' }}">
						{{ comment.post_date }}
					</time>
				</header>
				<span itemprop="text">
					{{ comment.bodytext|markdown }}
				</span>
				<hr />
			</article>
		</div>
	{% endfor %}
</div>

	{% show_more "Load more comments" %}

{% else %}
	<p>There's no comments...</p>
{% endif %}
