{% load el_pagination_tags %}

{% load markdown_deux_tags %}
{% load blog_tags %}

{% if posts %}
	{% paginate posts %}
<center>
	{% for post in posts %}
		<article itemscope itemtype="http://schema.org/Article" setion="posts" id="post">
			<header itemprop="name">
				<a href="{{ post.get_absolute_url }}">
					<h1>{{ post.title }}</h1>
				</a>
			</header>

			<p class="publish-data">
				<img src="{{post.image.url}}" />
			</p>

			<span itemprop="articleBody">{{ post.bodytext|summarize|markdown }}</span>

			<footer>
				<a class="button right" href="{{ post.get_absolute_url }}">Read more</a>
				<span class="hidden" itemprop="wordCount">{{ post.bodytext|wordcount }}</span>
			</footer>
		</article>
	{% endfor %}
</center>

	{% show_more "Load more blog posts" %}
	<br \>

{% else %}
    <p>There's no blog entries...</p>
{% endif %}
