{% extends 'base.html' %}

{% load markdown_deux_tags %}

{% block content %}
<div style="margin: 40px;">

	<article itemscope itemtype="http://schema.org/Article">
		<center>
			<header itemprop="name">
			<a href="{{ post.get_absolute_url }}">
				<h1>{{ post.title }}</h1>
			</a>
		</header>

		<p class="publish-data">
			Posted on 
			<time itemprop="datePublished" datetime="{{ post.post_date|date:'Y-m-d H:i:s' }}">
				{{ post.post_date }}
			</time>
			by 
			<span itemprop="author">{{ post.posted_by }}</span> - 
			<a itemprop="discussionUrl" href="{{ post.get_absolute_url }}#comments">
				<span itemprop="comment">
					{{ post.comment_count }} comment{{ post.comment_count|pluralize }}
				</span>
			</a>
		</p>
	</center>

		<span itemprop="articleBody">{{ post.bodytext|markdown }}</span>

		<footer>
			<span class="hidden" itemprop="wordCount">{{ post.bodytext|wordcount }}</span>
		</footer>
		<hr />
	</article>
</div>


<a name="comments">
<div <div style="margin: 40px;">
	<h2>Comment</h2></a>
{% if post.allow_comments %}
	{% include 'simpleblog/includes/post_form.html' %}
	<hr />
	
		<h2>Comments</h2>

	{% include page_template %}

{% else %}
	<p>Comments are disabled for this post.</p>
{% endif %}
</div>

{% endblock %}
